* {
  background-color: black;
  color: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.user {
  display: flex;
  padding: 5px;
  width: 80%;
  justify-content: space-between;
  margin: 5px auto;
  border: 1px solid gray;
}

button {
  border: 1px solid whitesmoke;
  border-radius: 5%;
  margin: 2px;
}